.header-container {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    background-color: white;
    justify-content: none;
    align-items: center;
    /* position: fixed; */
  }
  
  .search-container {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 16px;
    padding: 8px 16px;
  }
  
  input {
    border: 1px;
    padding: 8px 8px;
    width: 100%;
  }
  
  /* .icon {
    margin-right: 10px;
    padding-left: 60px;
  } */
  
  /* .icon, .search {
    color: black;
    height: 16px;
    width: 16px;
  } */
  .icon-profile{
    height: 16px;
    width: 16px;
    padding-right: 10px;
  }
  .icon-bell{
    height: 16px;
    width: 16px;
    padding-left: 900px;
    padding-right: 10px;
  }